/**
 * Created by Sallar Kaboli <sallar.kaboli@gmail.com>
 * License: WTFL <http://www.wtfpl.net>
 * ---
 * http://sallar.me
 */

body,
html {
    /*	height: 100%;*/
    /*	-webkit-font-smoothing: antialiased;*/
}

.mapdiv {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.datamaps-hoverover {
  /*min-width: 100%;*/
}


#map {
    width: 100%;
    display: inline-block;
    height: 650px;
    /*background: url(../SiteImg/backgroundPattern/star.png);*/
    float:left;
    /*border-right: 1px solid black;*/
}

#map-half {
    width: 100%;
    height: 650px;
    /*background: url(../SiteImg/backgroundPattern/star.png);*/
    float:right;
    /*border-left: 1px solid black;*/
    overflow: scroll;
}

.map-intro-text {
  margin-top: 50%;
}

.map-images-container {
  display: flex;
  flex-wrap: wrap;
}

.map-images-container::after {
content: '';
flex-grow: 999999999;
}

.map-image-container {
  flex-grow: 1;
  margin: 2px;
  height: 140px;
}

.map-image {
  height: 140px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

/**
 * Popup Card
 */

.popup-card {
    /*display: none;*/
    background-color: white;
    color: black;
    border-bottom: 2px solid #2b2b2b;
    border-radius: 3px;
    position: fixed;
    width: 100px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Libre Baskerville', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
    animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.popup-card span.country {
    font-size: 13 px;
    margin-bottom: 8px;
    color: black;
}

.country-text {
  display: none;
  border-radius: 3px;
  padding: 10px;
  margin-top: -780px;
  line-height: 1.4;
  font-family: fantasy;
  font-size: 24px;
}

/* Legend */
.map-instructions {
  font-size: 12px;
}

#map-legend {
  background: #FFF;
  margin: 12px;
  width: 160px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  text-align: left;
  font-family: Roboto,Arial,sans-serif;
  -moz-user-select: none;
  font-size: 11px;
  padding: 8px;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-left: 0px none;
  position: absolute;
  top: 390px;
  left: 20px;
}
#map-legend p{
  margin 0 0 0 0 !important;

}
h3.map-legend-headline{
  font-size: 14px;
  margin:0 0 4px 0 !important;
  padding:0 !important;
  text-align:center;
}

.map-legend-color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  border-radius: 12px;
  border: 1px solid black;
  margin-top: 6px;
}

.map-legend-color-been {
  background: #7E8AA7;
}

.map-legend-color-haventbeen {
  background: #F7F7F7;
}


/**
 * Fade Up Animations
 */

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
