/**
 * Created by Sallar Kaboli <sallar.kaboli@gmail.com>
 * License: WTFL <http://www.wtfpl.net>
 * ---
 * http://sallar.me
 */

body,
html {
    /*	height: 100%;*/
    /*	-webkit-font-smoothing: antialiased;*/
}

.mapdiv {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.datamaps-hoverover {
  /*min-width: 100%;*/
}


#map {
    width: 50%;
    display: inline-block;
    height: 650px;
    background: url(../SiteImg/backgroundPattern/star.png);
    float:left;
    border-right: 1px solid black;
}

#map-half {
    width: 50%;
    display: inline;
    height: 650px;
    background: url(../SiteImg/backgroundPattern/star.png);
    float:right;
    border-left: 1px solid black;
}

.map-image-list {
  list-style: none;
}

.map-image-list-item {
  
}



/**
 * Popup Card
 */

.popup-card {
    /*display: none;*/
    background-color: white;
    color: black;
    border-bottom: 2px solid #2b2b2b;
    border-radius: 3px;
    /*padding: 20px 18px;*/
    position: fixed;
    width: 100px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Libre Baskerville', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
    animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.popup-card span.country {
    font-size: 13 px;
    margin-bottom: 8px;
    color: black;
}

.country-text {
  display: none;
  color: #DCDEE2;
  border-radius: 3px;
  padding: 10px;
  margin-top: -409px;
  /*margin-left: -16em;*/
  line-height: 1.4;
  font-family: fantasy;
  font-size: 24px;
}

/**
 * Fade Up Animations
 */

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
