/* extra small (phones, less than 34em / 544px)
small (phones, 34 - 48em / 544 to 768px)
medium (tablets, 48 - 62em / 786 to 992px)
large (desktops, 62 - 75em / 992 to 1200px)
extra large (large desktops, above 75em / 1200px)*/


/* custom media queries */


/*under 416px*/

@media (max-width: 26em) {
  /* make facebook link fit on two lines */
  .ck-facebook-iframe {
    max-width: 250px;
    height: 40px;
  }
}

/*under 1096px*/

@media (max-width: 68.5em) {
  /* make port info border go away, info below */
  .port-info-panel {
    border: none;
    height: 150px;
    width: 520px;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 15px;
    background-color: inherit;
  }
  .port-under-panel {
    border: none;
    background-color: inherit;
  }
  .port-item a figure img {
    width: 600px;
    height: 350px;
  }
  .left-panel {
    /*margin-left: 5px;*/
  }
}


/* bootstrap media query sizes */
/***** between sizes *****/


/* small, 544px to 768px */

@media (min-width: 34em) and (max-width: 48em) {
}


/* medium, 786px to 992px - Tablet Size */

@media (min-width: 48em) and (max-width: 61.99em) {
  h1#name {
    text-align: center;
    margin-bottom: -18px;
  }
  .main-navholder {
    display: flex;
    justify-content: center;
  }
  .blog-element a img {
      width: 400px;
      height: auto;
    }
}


/* large, 992px to 1200px */

@media (min-width: 62em) and (max-width: 75em) {
  #name {
    margin-right: 120px;
    margin-left: 20px;
  }
  .main-nav {
    display: inline-block;
  }
  .main-nav {
    clear: left;
    padding-bottom: 27px;
  }
  .header-container {
    padding-top: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/***** under sizes *****/


/* extra small, below 544px */

@media (max-width: 34em) {
  #copyright {
    display: block;
    margin: 0 auto;
  }
  .footer-respond {
    max-width: 100%;
    margin: 0px auto;
}
  .footer-social {
    float: none;
  }
  .social-icon-small {
    max-height: 110px;
    margin: 2px;
    max-width: 40px;
    display: inline-block;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
  }
  #copyright {
    float: none !important;
  }
  .flickr {
    margin-top: 9px;
  }
  .main-footer {
    height: 100%;
  }
  #map {
    height: 400px;
  }
  .mobile-dont-display {
    display: none;
  }
}


/* under tablet, below 786px*/

@media (max-width: 48em) {
  .mainheader {
    clear: both;
  }
  #emboldlyholder {
    align-content: center;
    justify-content: center;
  }
  h1#name {
    align-items: center;
    align-self: center;
    text-align: center;
  }
  a.nvbtnlrg {
    margin-top: -12px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    font-size: 18px;
    height: 56px;
    width: 80%;
    -webkit-box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
  }
  .main-nav li a {
    margin-bottom: -3px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .nvbtnlrg:hover {
    letter-spacing: 0.2px;
    position: relative;
    z-index: 2;
  }
  a.navbuttonarrow {
    visibility: hidden;
  }
  .contactinfo {
    margin-left: 20px;
  }
  .port-image {
    height: 100% !important;
  }
  .main-nav li {
    padding-top: 9px;
  }
  .contactIcon {
    height: 110px;
    padding: 20px;
  }
  div.dropdown {
    display: none;
  }
  .content-top-padding {
    padding-top: 40px;
  }
  #name {
    margin-top: 28px;
  }
  .extend {
    display: none;
    float: none;
  }
  #imagelightbox-caption {
    display: none;
  }
  .abouttext {
    margin-top: 50px;
  }
  .port-pic {
    display: ;
  }
  .port-intro {
    display: inherit;
  }
  #map-legend {
margin-right: auto;
left: -10px;
right: 0;
top: 0;
box-shadow: none;
  }
  .under-md-display-none {
    display: none;
  }
}


/* under large, below 992px */

@media (max-width: 62em) {
  #name {
    margin-bottom: -8px;
    margin-top: 20px;
  }
  .main-nav {
    padding: 0px 0px;
  }
  #copyright {
    float: left;
    margin-left: 0px;
    max-width: 300px;
  }
  .babycircle {
    margin-bottom: 20px
  }
  .small-port-item {
    margin: 0px;
  }
  .port-under-panel {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* under extra large, below 1200px */
@media (max-width: 75em) {
  .testamonialtopmargin {
    margin-top: -20px;
  }
}
@media (max-width: 34em) {
  #copyright {
    display: block;
    margin: 0 auto;
  }
  .main-footer {
    height: 100%;
  }
}


/***** over sizes *****/


/* over tablet, above 768px */

@media (min-width: 48em) {
  .main-nav {
    margin-left: 7px;
    display: inline-flex;
  }
  .main-nav li a {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .nvbtnlrg:hover {
    color: #412e0a;
    letter-spacing: 0.2px;
    position: relative;
    z-index: 2;
  }
  a.nvbtnlrg {
    width: 100px;
    height: 50px;
    margin: 0px 3px;
    vertical-align: middle;
    text-align: center;
    top: 14px;
  }
  a.navbuttonarrow {
    width: 25px;
    height: 50px;
    margin: 0px 3px;
    vertical-align: middle;
    text-align: center;
    top: 14px;
    -webkit-box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.75);
  }
  #contactpic {
    margin-left: -26px;
  }
}


/* extra large, above 1200px */

@media (min-width: 75em) {
  #name {
    margin-right: 234px;
  }
  .main-nav {
    clear: left;
    padding-bottom: 27px;
  }
  .header-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-element a img {
    width: 325px;
    height: 215px;
    margin: auto 25px;
  }
}
